@tailwind base;
@tailwind utilities;


button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

input:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text-status {
  @apply center font-bold text-lg text-gray-600;
}

.btn-primary {
  
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 0.7s;
  -moz-animation: fadeIn ease 0.7s;
  -o-animation: fadeIn ease 0.7s;
  -ms-animation: fadeIn ease 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 0.7s;
  -webkit-animation: fadeOut ease 0.7s;
  -moz-animation: fadeOut ease 0.7s;
  -o-animation: fadeOut ease 0.7s;
  -ms-animation: fadeOut ease 0.7;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
